.form-style {
    text-align: left
}

.container {
    width: 50%;
    border: 1px solid #dee2e6;
    padding: 0px;
    margin-top: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
    border-top: none;
}

.button-delete{
    float: right;
}

.button-update{
    float: center;
}